<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="description" />

    <link rel="icon" href="../public/checklist.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Landing Page</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @layer utilities {
        .bg-green {
          background-color: rgba(0, 255, 179, 0.06);
        }
      }
    </style>
  </head>

  <body>
    <header>
      <nav class="navbar py-3 px-5" id="navbar">
        <div class="logo">
          <img src="./checklist.png" alt="Logo" class="logo-image" />
          <h1 class="logo-title">Utask</h1>
        </div>
        <button class="burger" id="burger">☰</button>
        <div class="drawer" id="dynamic-header">
          <div>
            <ul class="nav_item-container">
              <li class="nav_item" id="home"><a href="#/home">Home</a></li>
              <li class="nav_item" id="about"><a href="#/about">About</a></li>
              <li class="nav_item" id="contact"><a href="#/contact">Contact</a></li>
              <li class="nav_item">
                <button class="sign-in-button">
                  <a href="#/login">Sign In</a>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main></main>

    <!-- Additional content goes here -->
    <footer>
      <p>&copy; 2023 TIM C23 - M4062. All rights reserved.</p>
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      const initAOS = async () => {
        AOS.refresh(); // Refresh AOS library after rendering the content
      };
    </script>
  </body>
</html>
