/*
 * Style for Media Query
 */

@media screen and (max-width: 535px) {
  .navbar {
    justify-content: space-between;
  }

  /*
   * Drawer Navigation
   */

  .burger {
    display: block;
    text-decoration: none;
    background-color: transparent;
    border: #062a0200;
    font-size: 28px;
    padding: 12px;
    z-index: 100;
    margin-right: 10px;
    color: black;
  }

  .drawer-text {
    z-index: 10;
    background-color: #f1f1f1;
    width: 100%;
    height: 210px;
    position: absolute;
    right: 0;

    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -140px);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  .nav_item-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
  }

  .nav_item {
    width: 100%;
    text-align: left;
    padding-top: 8px;
    margin: 5px;
  }

  .nav_item a {
    padding: 12px 5px 12px 5px;
    font-size: 18px;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 120px);
  }

  /*
   * Content Style
   */

  main {
    margin-top: 6rem;
  }

  .people-calendar-img {
    text-align: center;
  }

  .people-calendar-img img {
    width: 80%;
    margin-top: 10px;
  }

  footer {
    margin-top: 40px;
  }

  .left {
    width: auto;
    height: auto;
  }

  /*
   * Login Style
   */

  .img-app {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .logo-check {
    width: 120px;
  }
  .logo-gc {
    width: 85px;
    margin-left: 20px;
  }
  .line1.line2 {
    width: 50px;
  }

  .side-img img {
    margin: 10px 0;
    width: 320px;
  }

  #login-main {
  justify-content: center;
 }
}

/* @media screen and (min-width: 455px) {
}

@media screen and (min-width: 500px) {
} */

/* @media screen and (max-width: 600px) {

} */

@media screen and (min-width: 650px) {
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 800px) {
  main{
    min-height: 550px;
  }
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}
